
$primaryColor:rgb(131, 5, 42);
$blackColor:#000;
$grayColor:gray;
$whiteColor:#fff;
$lightgray:#f8f8f8;

$navBackgroundImage:url("../images/nesr.png");
$section5BackgroundImage:url("../images/Rectangle 21.png");
$section12BackgroundImage:url("../images/jbal.png");
$section14BackgroundImage:url("../images/map.png");